# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: "phlin's blog"
subtitle: "望舒的尘歌壶"
description: "一个后端开发的个人学习笔记"
keywords:
  - 后端开发
  - Golang
  - 面试复盘
  - 学习笔记
author: phlin
language: zh-CN
timezone: Asia/Shanghai


# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://blog.phlin.cn
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: false # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: false # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:
  - live2d/**
  - xml/**
  - googlee71a42e975b91904.html

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: false
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include: []
exclude:
  - live2d/**
ignore:
  - "**/source/live2d/**"

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: fluid

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: ''


feed:
  type: rss2
  path: rss2.xml
  limit: 
  hub:
  content:
  content_limit: 
  content_limit_delim: ' '
  order_by: -date

sitemap:
  path: sitemap.xml
  tags: false
  categories: false

robots:
  user_agent: "*"
  allow:
    - /
  disallow:
    - /live2d/
  sitemaps:
    - https://blog.phlin.cn/sitemap.xml

minify:
  js:
    enable: true
    exclude:
      - "*.min.js"
      - "live2d/**"
  css:
    enable: true
    options:
      targets: ">= 0.5%, not dead"
    exclude:
      - "*.min.css"
  image:
    enable: true
    options:
      avif: false
      webp: true
      quality: 70
      effort: 2
      replaceSrc: true
      destroyOldRoute: false
      enableSubSampling: true
      persistCache: true
    exclude:
      - "live2d/**"
      - "img/favicon-32.png"
      - "img/apple-touch-icon.png"

# _config.yml
OhMyLive2d:
  enable: false # disable plugin injection; we lazy-load via theme
  lazy: true
  # CDN: https://registry.npmmirror.com/oh-my-live2d/0.19.3/files
  CDN: https://qiuniu.phlin.cn/static/index.min.js
  option:
    # importType: 'cubism2' # 导入类型, 默认使用全量导入: complete , 可选值: complete, cubism2, cubism5
    libraryUrls: # 自定义 Cubism SDK 外部资源地址
      complete: https://registry.npmmirror.com/oh-my-live2d/0.19.3/files/lib/complete.js
      cubism2: https://registry.npmmirror.com/oh-my-live2d/0.19.3/files/lib/cubism2.js
      cubism5: https://registry.npmmirror.com/oh-my-live2d/0.19.3/files/lib/cubism5.js

    mobileDisplay: false # 是否在移动端显示
    models:
      - path: https://qiuniu.phlin.cn/blog/Focalors.model3.json
        mobilePosition: [-10, 23] # 移动端时模型在舞台中的位置。 默认值: [0,0] [横坐标, 纵坐标]
        mobileScale: 0.1 # 移动端时模型的缩放比例 默认值: 0.1
        mobileStageStyle: # 移动端时舞台的样式
          width: 180
          height: 166
        motionPreloadStrategy: IDLE # 动作预加载策略 默认值: IDLE 可选值: ALL | IDLE | NONE
        position: [-160, -30] # 模型在舞台中的位置。 默认值: [0,0] [横坐标, 纵坐标]
        scale: 0.1 # 模型的缩放比例 默认值: 0.1
        stageStyle:
          width: 250
          height: 250

    parentElement: document.body # 为组件提供一个父元素，如果未指定则默认挂载到 body 中
    primaryColor: 'var(--btn-bg)' # 主题色 支持变量
    sayHello: false # 是否在初始化阶段打印项目信息

    tips:
      style:
        width: 230
        height: 120
        left: calc(50% - 20px)
        top: -100px
      mobileStyle:
        width: 180
        height: 80
        left: calc(50% - 30px)
        top: -100px
      idleTips:
        interval: 15000
        # message:
        #   - 你好呀~
        #   - 欢迎来到我的小站~
        # 自定义提示语 需要 引入 axios 库 ,也可以使用其他方法
        message: |
          function(){
            return axios.get('https://v1.hitokoto.cn?c=i')
              .then(function (response) {
                return response.data.hitokoto;
              })
              .catch(function (error) {
                console.error(error);
              });
          }
        wordTheDay: |
          function(wordTheDayData){
            return `${wordTheDayData.hitokoto}    by.${wordTheDayData.from}`;
          }

then: |
  (oml2d)=>{
     setTimeout(() => {
      oml2d.tipsMessage('hello world', 3000, 10);
    }, 8000);
  }
