<div id="toc">
  <p class="toc-header">
    <i class="iconfont icon-list"></i>
    <span><%- __('post.toc') %></span>
  </p>
  <div class="toc-body" id="toc-body"></div>
</div>

<%
import_script(`
<script>
  Fluid.utils.createScript('${url_join(theme.static_prefix.tocbot, 'tocbot.min.js')}', function() {
    var toc = document.getElementById('toc');
    if (!toc || !window.tocbot) { return; }
    var boardCtn = document.getElementById('board-ctn');
    var boardTop = boardCtn ? (boardCtn.getBoundingClientRect().top + window.pageYOffset) : 0;

    window.tocbot.init(Object.assign({
      tocSelector     : '#toc-body',
      contentSelector : '.markdown-body',
      linkClass       : 'tocbot-link',
      activeLinkClass : 'tocbot-active-link',
      listClass       : 'tocbot-list',
      isCollapsedClass: 'tocbot-is-collapsed',
      collapsibleClass: 'tocbot-is-collapsible',
      scrollSmooth    : true,
      includeTitleTags: true,
      headingsOffset  : -boardTop,
    }, CONFIG.toc));
    if (toc.querySelector('.toc-list-item')) {
      toc.style.visibility = 'visible';
    }

    Fluid.events.registerRefreshCallback(function() {
      if ('tocbot' in window) {
        tocbot.refresh();
        var toc = document.getElementById('toc');
        if (!toc || !tocbot) {
          return;
        }
        if (toc.querySelector('.toc-list-item')) {
          toc.style.visibility = 'visible';
        }
      }
    });
  });
</script>
`)
%>
