<%
    play_time = theme.loading.play_time || 500;
    avatar_url = theme.loading.avatar_url || 'https://qiuniu.phlin.top/bucket/icon.png'; // 默认头像
%>

<style type="text/css">
    @keyframes blink {
        0%, 100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }

    #loading {
        height: 100%;
        background-color: #FFFFFF; /* 设置背景为白色 */
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 99999999;
    }

    .avatar {
        width: 150px; /* 头像宽度 */
        height: 150px; /* 头像高度 */
        border-radius: 50%;
        background: url('<%= avatar_url %>') no-repeat center center;
        background-size: cover;
        animation: blink 1s infinite; /* 闪烁效果 */
    }
</style>

<div id="loading">
    <div class="avatar"></div>
</div>

<script>
    (function () {
        window.onload = function () {
            const loader = document.getElementById("loading");
            loader.classList.add("fadeout"); // 使用 classList 添加类
            setTimeout(function () {
                loader.style.display = "none";
            }, <%= play_time %>); // 使用 <%= %> 输出 play_time
        }
    })();
</script>
