.index-card {
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(calc(1.5 - 0.5 * var(--state)));
    opacity: var(--state);
    margin-bottom: 2rem;
  }
  
  .index-img img {
    margin: 20px 0;
  }

  @media (prefers-reduced-motion: reduce) {
    .index-card {
      transition: none !important;
      transform: none !important;
      opacity: 1 !important;
    }
  }
